# Folder library (ukurannya sangat besar, jangan di-upload)
node_modules/

# File rahasia (isi password database dan secret key)

# Log error
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Folder build/dist (jika ada)
dist/
build/
