@import 'tailwindcss';

@plugin 'daisyui';

@plugin "daisyui/theme" {
  name: "leafy";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: #FFFAFA;
  --color-base-200: #F5F0F0;
  --color-base-300: #E8E3E3;
  --color-base-content: #1B4332;
  --color-primary: #1B4332;
  --color-primary-content: oklch(98% 0.018 155.826);
  --color-secondary: #2D6A4F;
  --color-secondary-content: oklch(98% 0.018 155.826);
  --color-accent: #40916C;
  --color-accent-content: #FFFFFF;
  --color-neutral: oklch(21% 0.006 285.885);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: #3A86FF;
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: #2ECC71;
  --color-success-content: #0B2E13;
  --color-warning: #F4A261;
  --color-warning-content: #3A1F00;
  --color-error: #E63946;
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}

.custom-marker {
  background: transparent !important;
  border: none !important;
}